/* Big tablet to 1200 (widths smaller than the 1140 row) */
@media only screen and (max-width: 1200px) {
  #curtain {
    background-size: cover;
    background-repeat: no-repeat;
  }

}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  #curtain h2, a#enter {
    font-size: 2.5em;
  }
  #curtain h2 {
    bottom: 17%;
  }

  svg#title-img #title {
    font-size: 2.5em;
  }

  #portfolio p.sub-title {
    width: 80%;
  }
  #portfolio .portfolio-item {
    margin-top: 25px; 
  }
  #portfolio .row img {
    width: 80%;
    display: block;
    margin: 0 auto;
    float: initial;
    padding-top: 10px;
  }
  #portfolio .text-left, #portfolio .text-right {
    float: none; 
    margin: 0 auto;
  }
  #portfolio .col {
    width: 100%;
  }
  #portfolio .text {
    width: 80%;
  }

  #about .education, #about .skills {
    width: 80%;
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  #curtain h2, a#enter {
    font-size: 2.0em;
    left: 5%;
  }

  #about .col {
    width: 100%;
  }
  #about .img img { display: block; }
  #about .img img, #about .text {
    float: initial;
    margin: 0 auto;
    width: 80%;
  }

  #contact ul {
    width: 100%;
  }
  #contact li {
    display: block;
    margin-right: auto;
  }
  #contact li img {
    width: 40%;
    margin: 60px auto 0 auto;
    display: block;
  }
  #contact li img.linkedin, #contact li img.github {
    height: auto;
  }
  #contact li.last {
    margin-right: auto;
  }
}

/* Small phones: from 0px to 480px */
@media only screen and (max-width: 480px) {

}