#curtain {
	background-image: url('../img/match-stick.png');
	background-size: contain;
	background-position: center;
	height: 100vh;
	width: 100%;
	position: relative;
}

svg {
	height: 325px;
	width: auto;
	position: absolute;
	top: 8%;
	left: 41%;
}

path {
	fill: none;
	stroke: #fff;
	stroke-width: 4;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

.flame {
	stroke-dasharray: 920;
	animation: write1 1s linear;
}

@keyframes write1 {
	0% {
		stroke-dashoffset: 920;
	}
	100% {
		stroke-dashoffset: 0;
	}
}